/*File name: aboutme.css, Name: Runali Patel, Student ID: 301110236, Date: 29/05/2021*/
.masthead-heading,
.masthead-intro
 {
  text-align: center;
}
.masthead
{
  padding: 6em 0;
  background-color: #666666;
  background-size: cover;
  background-repeat: no-repeat;

}
.masthead-intro 
{
    margin-bottom: 0.1em;
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 2em;
}
.masthead-heading 
{
    color: #F1C863;
    margin-top: -0.2em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 6em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}
.introduction-section,
.location-section,
.questions-section 
{
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}
.introduction-section > p,
.location-section > p,
.questions-section > p 
{
    font-weight: 300;
    letter-spacing: 0.05em;
    color: white;
}
.questions-section > h2 
{
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 1.2em;
    font-weight: bold;
    margin: 2em 0 1em 0;
}
.masthead-heading,
.masthead-intro 
{
  text-align: center;
}
.masthead-intro
 {
  margin-bottom: 0.1em;
  font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 2em;
}
.masthead-heading {
  margin-top: -0.2em;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 6em;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.introduction > p,
.location > p{
    font-weight: 300;
    letter-spacing: 0.05em;
    color: white;
}
h2 
{
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 1.2em;
    font-weight: bold;
}
.introduction-section,
.location-section,
.questions-section {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    color: aqua;
}
a 
{
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.image 
{
    width:20%; 
    margin-left: 40%;
    border-radius: 10%;
  }
  

