/*File name: services.css, Name: Runali Patel, Student ID: 301110236, Date: 30/05/2021*/
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .header {
    text-align: center;
    padding: 32px;
  }
  
  .row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  
  .column {
    -ms-flex: 50%;
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    padding: 30px;
  }
  
  
  h1{
      color:aqua;
      text-align: center;
  }
  h6{
    color: white;
  }