<link rel='stylesheet' href='/Content/aboutme.css' />

<div class ="body" style = "background-color: #333;">
<header class='masthead'>
  <p class='masthead-intro'>Hi I'm</p>
  <h1 class='masthead-heading'>Runali!</h1>
  <img class="image" src="/Assets/images/pic.jpeg" alt="Pradyumna">
</header>

<section class="introduction-section">
    <h1>Introduction</h1>
    <p style = "color:white;">I am studying Software Engineering Technology (FT) at Centennial College </p>
    <p style = "color:white;">My main interests are in development, designing and Software Testing.</p>
</section>
<section class="location-section">
    <h1>Where I'm From</h1>
    <p style = "color:white;">I'm originally from Nairobi, Kenya. </p>
    <p style = "color:white;">Currently, I am located in Toronto, Ontario </p>
</section>
<section class="questions-section">
    <h1>More About Me</h1>
    <h2>What are your favorite hobbies?</h2>
    <p style = "color:white;">My favorite hobby is building things on the internet like ecommerce sites and email marketing campaigns.</p>
    <h2>What's your dream job?</h2>
    <p style = "color:white;">My dream job is similar to my current job except I would like to be building software instead of buildings.</p>
    <h2>Why do you want to be a web developer?</h2>
    <p style = "color:white;">Because programming is awesome and programming for the internet is even more awesome.</p>
   <p>Resume: <a href="/Assets/Resume_RunaliPatel.pdf" target="_blank" >Please click here</a></p>
</section>
</div>