<link rel='stylesheet' href='/Content/aboutme.css' />
<div class ="body" style = "background-color: #333;">
<header class='masthead'>
  <p class='masthead-intro'>Hi I'm</p>
  <h1 class='masthead-heading'>Runali!</h1>
  <img class="image" src="/Assets/images/pic.jpeg" alt="Runali Patel">
</header> 
<!--Introduction aligned in section portions--->
<section class="introduction-section">
    <h1>Introduction</h1>
    <p>I am studying Software Engineering Technology (FT) at Centennial College </p>
    <p>My main interests are in development, designing and Software Testing.</p>
</section>
<section class="location-section">
    <h1>Where I'm From</h1>
    <p>I'm originally from Nairobi, Kenya. </p>
    <p>Currently, I am located in Toronto, Ontario </p>
</section>
<section class="questions-section">
    <h1>More About Me</h1>
    <h2>What are your favorite hobbies?</h2>
    <p >My favorite hobby is building things on the internet like web development systems and offline android or ios development systems.</p>
    <h2>What's your dream job?</h2>
    <p>My dream job is to be able to innovate and implement new ideas in the forms of applications/platforms.</p>
    <h2>Why do you want to be a web developer?</h2>
    <p>It really interests me as a whole and I think there is so much to learn and gain knowledge from.</p>
    <p> For more information about me check out my resume.</p>
    <!---URL Link for /resume-->
   <p>Resume: <a href="/Assets/Resume_RunaliPatel.pdf" target="_blank" >Please click here</a></p>
</section>
</div>