 <!--Main Footer, Name: Runali Patel, Student ID: 301110236, 28/05/2021-->
  <footer>
    <nav class="navbar bottom navbar-dark" style="background-color:#212529;">
      <h6 style="color:blueviolet; margin:auto;" >&copy; Copyright 2021. All Rights Reserved.</p>
      </nav>
    </footer>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script> 
    <script src="/Scripts/app.js"></script>
  </body>
</html>