<link rel='stylesheet' href='/Content/home.css' />

  
  <body class="text-center" data-new-gr-c-s-check-loaded="14.1012.0" data-gr-ext-installed="">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
<br><br>
      <main role="main" class="inner cover">
        <h1 class="cover-heading">Runali Patel</h1>
        <br>
        <p class="lead">Mission Statement: </p>
        <p class="lead"> “To fill the world with emotion, through the power of creativity.” - Sony </p>
        <br>
        <p class="lead"> Get to know more about me!  </p>
        <p class="lead">
          <a href="/aboutme" class="btn btn-lg btn-secondary">About Me</a>
        </p>
      </main>
      <footer class="mastfoot mt-auto">
        <div class="inner">
        </div>
      </footer>
    </div>

  </body>
  