<link rel='stylesheet' href='/Content/project.css' />

<div style = "background-color: #333;">
<div class="header" id="myHeader">
  <h1 style="color:aqua;">Projects: </h1>
  <p style="color:white;" >Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
</div>
<div class="row">
  <div class="container1">
    <img class="image" src="/Assets/images/hospital.png" />
    <div class="content">
      <h3 style="color:aqua;">Hospital Management System (COVID-19)</h3>
      <h6 style="color:white;" >Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
    </div>
  </div>
  <div class="container1">
    <img class="image" src="/Assets/images/SA.png" />
    <div class="content">
      <h3 style="color:aqua;">Investigation Into Sentiment Analysis</h3>
      <h6 style="color:white;" >Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
    </div>
  </div>
  <div class="container1">
    <img class="image" src="/Assets/images/idea.png" />
    <div class="content">
      <h3 style="color:aqua;">Web Enabled Role-Based Ideas Collection System</h3>
      <h6 style="color:white;" >Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
    </div>
  </div>
  <div class="container1">
    <img class="image" src="/Assets/images/donation.jpeg" />
    <div class="content">
      <h3 style="color:aqua;">Unused Soap Donation Web System</h3>
      <h6 style="color:white;" >Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
    </div>
  </div>
  <div class="container1">
    <img class="image" src="/Assets/images/swim.jpg" />
    <div class="content">
      <h3 style="color:aqua;">Swimmers Management System</h3>
      <h6 style="color:white;" >Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
    </div>
  </div>
</div>
</div>
