<link rel='stylesheet' href='/Content/project.css' />
<div style = "background-color: #333;">
<div class="header" id="myHeader">
  <h1>Projects: </h1>
  <p>These are some of the projects I have worked on</p>
</div>
<!---Displays the projects worked on through Images and Descriptions using containers, hence are responsive-->
<div class="row">
  <div class="container1">
    <img class="image" src="/Assets/images/hospital.png" />
    <div class="content">
      <h3>Hospital Management System (COVID-19)</h3>
      <h6>We implemented an open-source and online hospital management system, 
      which would be able to assist in managing the hospitals that do not already have a management system during the 
      Covid-19 Pandemic. </h6>
    </div>
  </div>
<div class="container1">
    <img class="image" src="/Assets/images/SA.png" />
    <div class="content">
      <h3>Investigation Into Sentiment Analysis</h3>
      <h6>This was my final year BSc in Computer Science, and I used the IBM API's to implement the Sentiment Analysis for a 
      well-known service provider company in Nairobi, Safaricom. I also used the naive bayes algorithm to further the implementation of Sentiment Analyses.</h6>
    </div>
  </div>
  <div class="container1">
    <img class="image" src="/Assets/images/idea.png" />
    <div class="content">
      <h3>Web Enabled Role-Based Ideas Collection System</h3>
      <h6>This was a group-project for my Under-Grad as well, where we created a web development system 
      to collect and manage new ideas provided by students. 
      It was a multi-user system and had multi-user functionalities according to the roles.
      </h6>
    </div>
  </div>
  <div class="container1">
    <img class="image" src="/Assets/images/donation.jpeg" />
    <div class="content">
      <h3>Unused Soap Donation Web System</h3>
      <h6>Developed an online web-enabled system where hotels 
      could donate unused soap to the unprivileged people in the society.</h6>
    </div>
  </div>
  <div class="container1">
    <img class="image" src="/Assets/images/swim.jpg" />
    <div class="content">
      <h3>Swimmers Management System</h3>
      <h6>Developed an application using C# that manages Swimmers, Coaches and more. It was a multi-user system.</h6>
    </div>
  </div>
</div>
</div>
