<link rel='stylesheet' href='/Content/services.css' />


<div class ="body" style = "background-color: #333;">
<div class="header" id="myHeader">
  <h1>Services I Provide: </h1>
  <h6 style="color: white;">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
</div>

<div class="row"> 
  <div class="column">
    <img src="/Assets/images/android.jpg" style="width:100%; border-radius: 10%;"> <h1 style="text-align:center;style="color:blueviolet;"> Android App Development</h1><br>
    <img src="/Assets/images/data.jpeg" style="width:100%; border-radius: 10%;"> <h1 style="text-align:center;"> Data Analytics</h1><br>

  </div>
  <div class="column">
    <img src="/Assets/images/web.jpeg" style="width:100%; border-radius: 10%;"> <h1 style="text-align:center;"> Web Development</h1><br>
    <img src="/Assets/images/ios.png" style="width:100%; border-radius: 10%;"> <h1 style="text-align:center;"> iOS App Development</h1><br>

  </div>  
  <div class="column">
    <img src="/Assets/images/ml.jpg" style="width:100%; border-radius: 10%;"> <h1 style="text-align:center;"> Machine Learning</h1><br>


  </div>
  <div class="column">
    <img src="/Assets/images/AI.jpg" style="width:100%; border-radius: 10%;"> <h1 style="text-align:center;"> Artificial Intelligence</h1><br>


  </div>
</div>
</div>

